In [1]:
import numpy as np
import pandas as pd
import warnings

In [2]:
data = pd.read_csv("dataset-3.csv", encoding='UTF-8-SIG')

In [3]:
data.head()

   id_start   id_end  distance
0   1001400  1001402       9.7
1   1001402  1001404      20.2
2   1001404  1001406      16.0
3   1001406  1001408      21.7
4   1001408  1001410      11.1

In [4]:
data.tail()

    id_start   id_end  distance
39   1001462  1001464      26.7
40   1001464  1001466       8.5
41   1001466  1001468      10.7
42   1001468  1001470      10.6
43   1001470  1001472      16.0

In [5]:
data.shape

(44, 3)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id_start  44 non-null     int64
 1   id_end    44 non-null     int64
 2   distance  44 non-null     float64
dtypes: float64(1), int64(2)
memory usage: 1.2 KB

### Question 1: Distance Matrix Calculation
#### Create a function named calculate_distance_matrix that takes the dataset-3.csv as input and generates a DataFrame representing distances between IDs.
#### The resulting DataFrame should have cumulative distances along known routes, with diagonal values set to 0. If distances between toll locations A to B and B to C are known, then the distance from A to C should be the sum of these distances. Ensure the matrix is symmetric, accounting for bidirectional distances between toll locations (i.e. A to B is equal to B to A).

In [7]:
data['id_start'].unique()

array([1001400, 1001402, 1001404, 1001406, 1001408, 1001410, 1001412,
       1001414, 1001416, 1001418, 1001420, 1001422, 1001424, 1001426,
       1001428, 1001430, 1001432, 1001434, 1001436, 1001438, 1001440,
       1001442, 1001488, 1004356, 1004354, 1004355, 1001444, 1001446,
       1001448, 1001450, 1001452, 1001454, 1001456, 1001458, 1001460,
       1001461, 1001462, 1001464, 1001466, 1001468, 1001470], dtype=int64)

In [8]:
data['id_end'].unique()

array([1001402, 1001404, 1001406, 1001408, 1001410, 1001412, 1001414,
       1001416, 1001418, 1001420, 1001422, 1001424, 1001426, 1001428,
       1001430, 1001432, 1001434, 1001436, 1001438, 1001437, 1001440,
       1001442, 1001488, 1004356, 1004354, 1004355, 1001444, 1001446,
       1001448, 1001450, 1001452, 1001454, 1001456, 1001458, 1001460,
       1001461, 1001462, 1001464, 1001466, 1001468, 1001470, 1001472],
      dtype=int64)

In [10]:
# Print the unique values for id_start and id_end to understand their range
print('Unique id_start values:', data['id_start'].unique())
print('Unique id_end values:', data['id_end'].unique())

# We will also check if there are any missing combinations of id_start and id_end
id_start_set = set(data['id_start'].unique())
id_end_set = set(data['id_end'].unique())

# Find the symmetric difference to identify missing combinations
missing_combinations = id_start_set.symmetric_difference(id_end_set)
print('Missing combinations of id_start and id_end:', missing_combinations)

Unique id_start values: [1001400 1001402 1001404 1001406 1001408 1001410 1001412 1001414 1001416
 1001418 1001420 1001422 1001424 1001426 1001428 1001430 1001432 1001434
 1001436 1001438 1001440 1001442 1001488 1004356 1004354 1004355 1001444
 1001446 1001448 1001450 1001452 1001454 1001456 1001458 1001460 1001461
 1001462 1001464 1001466 1001468 1001470]
Unique id_end values: [1001402 1001404 1001406 1001408 1001410 1001412 1001414 1001416 1001418
 1001420 1001422 1001424 1001426 1001428 1001430 1001432 1001434 1001436
 1001438 1001437 1001440 1001442 1001488 1004356 1004354 1004355 1001444
 1001446 1001448 1001450 1001452 1001454 1001456 1001458 1001460 1001461
 1001462 1001464 1001466 1001468 1001470 1001472]
Missing combinations of id_start and id_end: {1001472, 1001400, 1001437}

### Question 2: Unroll Distance Matrix
#### Create a function unroll_distance_matrix that takes the DataFrame created in Question 1. The resulting DataFrame should have three columns: columns id_start, id_end, and distance.
#### All the combinations except for same id_start to id_end must be present in the rows with their distance values from the input DataFrame.